In [9]:
"a" < "A"

[1] TRUE

In [1]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [3]:
mtcars[1, 2]

[1] 6

In [4]:
mtcars["Mazda RX4", "cyl"]

[1] 6

In [5]:
nrow(mtcars) # number of data rows 
ncol(mtcars) # number of columns

[1] 32

[1] 11

In [6]:
mtcars[[1]]

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [7]:
mtcars[["mpg"]]

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [8]:
mtcars$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [9]:
mtcars[, 'mpg']

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [10]:
mtcars[1]

                    mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

In [11]:
mtcars["mpg"]

                    mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

In [12]:
mtcars[c("mpg","hp")]

                    mpg  hp
Mazda RX4           21.0 110
Mazda RX4 Wag       21.0 110
Datsun 710          22.8  93
Hornet 4 Drive      21.4 110
Hornet Sportabout   18.7 175
Valiant             18.1 105
Duster 360          14.3 245
Merc 240D           24.4  62
Merc 230            22.8  95
Merc 280            19.2 123
Merc 280C           17.8 123
Merc 450SE          16.4 180
Merc 450SL          17.3 180
Merc 450SLC         15.2 180
Cadillac Fleetwood  10.4 205
Lincoln Continental 10.4 215
Chrysler Imperial   14.7 230
Fiat 128            32.4  66
Honda Civic         30.4  52
Toyota Corolla      33.9  65
Toyota Corona       21.5  97
Dodge Challenger    15.5 150
AMC Javelin         15.2 150
Camaro Z28          13.3 245
Pontiac Firebird    19.2 175
Fiat X1-9           27.3  66
Porsche 914-2       26.0  91
Lotus Europa        30.4 113
Ford Pantera L      15.8 264
Ferrari Dino        19.7 175
Maserati Bora       15.0 335
Volvo 142E          21.4 109

In [13]:
mtcars[2,]

              mpg cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4 Wag 21  6   160  110 3.9  2.875 17.02 0  1  4    4

In [14]:
mtcars[c(1,3),]

           mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Mazda RX4  21.0 6   160  110 3.90 2.62 16.46 0  1  4    4
Datsun 710 22.8 4   108   93 3.85 2.32 18.61 1  1  4    1

In [15]:
mtcars["Mazda RX4 Wag",]

              mpg cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4 Wag 21  6   160  110 3.9  2.875 17.02 0  1  4    4

In [16]:
mtcars[c("Mazda RX4", "Datsun 710"),]

           mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Mazda RX4  21.0 6   160  110 3.90 2.62 16.46 0  1  4    4
Datsun 710 22.8 4   108   93 3.85 2.32 18.61 1  1  4    1

In [17]:
low_mpg = mtcars$mpg < 22 ; low_mpg

 [1]  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE
[13]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE
[25]  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [18]:
mtcars[low_mpg,]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [19]:
mtcars[low_mpg,]$wt

 [1] 2.620 2.875 3.215 3.440 3.460 3.570 3.440 3.440 4.070 3.730 3.780 5.250
[13] 5.424 5.345 2.465 3.520 3.435 3.840 3.845 3.170 2.770 3.570 2.780

In [20]:
library(ISwR)
data(energy)
head(energy)

  expend stature
1  9.21  obese
2  7.53  lean
3  7.48  lean
4  8.08  lean
5  8.09  lean
6 10.15  lean

In [21]:
energy[2,]

  expend stature
2 7.53   lean

In [22]:
energy[energy$stature== "lean",]

   expend stature
2   7.53  lean
3   7.48  lean
4   8.08  lean
5   8.09  lean
6  10.15  lean
7   8.40  lean
8  10.88  lean
9   6.13  lean
10  7.90  lean
13  7.05  lean
16  7.48  lean
20  7.58  lean
22  8.11  lean

In [23]:
energy[order(energy$expend),]

   expend stature
9   6.13  lean
13  7.05  lean
3   7.48  lean
16  7.48  lean
2   7.53  lean
20  7.58  lean
10  7.90  lean
4   8.08  lean
5   8.09  lean
22  8.11  lean
7   8.40  lean
17  8.79  obese
21  9.19  obese
1   9.21  obese
19  9.68  obese
18  9.69  obese
15  9.97  obese
6  10.15  lean
8  10.88  lean
11 11.51  obese
14 11.85  obese
12 12.79  obese

In [24]:
subset(energy, stature=="lean" & expend>8)

   expend stature
4   8.08  lean
5   8.09  lean
6  10.15  lean
7   8.40  lean
8  10.88  lean
22  8.11  lean

In [25]:
x=split(energy$expend, energy$stature)
class(x)
x

[1] "list"

$lean
 [1]  7.53  7.48  8.08  8.09 10.15  8.40 10.88  6.13  7.90  7.05  7.48  7.58
[13]  8.11

$obese
[1]  9.21 11.51 12.79 11.85  9.97  8.79  9.69  9.68  9.19

In [10]:
?split

In [26]:
msleep=read.csv("msleep_ggplot2.csv")
class(msleep)
head(msleep)

[1] "data.frame"

  name                       genus      vore  order        conservation
1 Cheetah                    Acinonyx   carni Carnivora    lc
2 Owl monkey                 Aotus      omni  Primates     NA
3 Mountain beaver            Aplodontia herbi Rodentia     nt
4 Greater short-tailed shrew Blarina    omni  Soricomorpha lc
5 Cow                        Bos        herbi Artiodactyla domesticated
6 Three-toed sloth           Bradypus   herbi Pilosa       NA
  sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1 12.1         NA              NA   11.9       NA  50.000
2 17.0        1.8              NA    7.0  0.01550   0.480
3 14.4        2.4              NA    9.6       NA   1.350
4 14.9        2.3       0.1333333    9.1  0.00029   0.019
5  4.0        0.7       0.6666667   20.0  0.42300 600.000
6 14.4        2.2       0.7666667    9.6       NA   3.850

In [27]:
str(msleep)
row.names(msleep)

'data.frame':	83 obs. of  11 variables:
 $ name        : Factor w/ 83 levels "African elephant",..: 12 57 52 36 17 77 55 81 21 67 ...
 $ genus       : Factor w/ 77 levels "Acinonyx","Aotus",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ vore        : Factor w/ 4 levels "carni","herbi",..: 1 4 2 4 2 2 1 NA 1 2 ...
 $ order       : Factor w/ 19 levels "Afrosoricida",..: 3 15 17 19 2 14 3 17 3 2 ...
 $ conservation: Factor w/ 6 levels "cd","domesticated",..: 4 NA 5 4 2 NA 6 NA 2 4 ...
 $ sleep_total : num  12.1 17 14.4 14.9 4 14.4 8.7 7 10.1 3 ...
 $ sleep_rem   : num  NA 1.8 2.4 2.3 0.7 2.2 1.4 NA 2.9 NA ...
 $ sleep_cycle : num  NA NA NA 0.133 0.667 ...
 $ awake       : num  11.9 7 9.6 9.1 20 9.6 15.3 17 13.9 21 ...
 $ brainwt     : num  NA 0.0155 NA 0.00029 0.423 NA NA NA 0.07 0.0982 ...
 $ bodywt      : num  50 0.48 1.35 0.019 600 ...

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22" "23" "24" "25" "26" "27" "28" "29" "30"
[31] "31" "32" "33" "34" "35" "36" "37" "38" "39" "40" "41" "42" "43" "44" "45"
[46] "46" "47" "48" "49" "50" "51" "52" "53" "54" "55" "56" "57" "58" "59" "60"
[61] "61" "62" "63" "64" "65" "66" "67" "68" "69" "70" "71" "72" "73" "74" "75"
[76] "76" "77" "78" "79" "80" "81" "82" "83"

In [28]:
x=msleep[,c('name', 'sleep_total', 'order')]
head(x)

  name                       sleep_total order
1 Cheetah                    12.1        Carnivora
2 Owl monkey                 17.0        Primates
3 Mountain beaver            14.4        Rodentia
4 Greater short-tailed shrew 14.9        Soricomorpha
5 Cow                         4.0        Artiodactyla
6 Three-toed sloth           14.4        Pilosa

In [29]:
x=select(msleep, name, sleep_total, order)
head(x)

  name                       sleep_total order
1 Cheetah                    12.1        Carnivora
2 Owl monkey                 17.0        Primates
3 Mountain beaver            14.4        Rodentia
4 Greater short-tailed shrew 14.9        Soricomorpha
5 Cow                         4.0        Artiodactyla
6 Three-toed sloth           14.4        Pilosa

In [30]:
x=select(msleep, c('name', 'sleep_total', 'order'))
head(x)
x=select(msleep, 'name', 'sleep_total', 'order')
head(x)

  name                       sleep_total order
1 Cheetah                    12.1        Carnivora
2 Owl monkey                 17.0        Primates
3 Mountain beaver            14.4        Rodentia
4 Greater short-tailed shrew 14.9        Soricomorpha
5 Cow                         4.0        Artiodactyla
6 Three-toed sloth           14.4        Pilosa

  name                       sleep_total order
1 Cheetah                    12.1        Carnivora
2 Owl monkey                 17.0        Primates
3 Mountain beaver            14.4        Rodentia
4 Greater short-tailed shrew 14.9        Soricomorpha
5 Cow                         4.0        Artiodactyla
6 Three-toed sloth           14.4        Pilosa

In [31]:
x=select(msleep, -name, -sleep_total, -order)
head(x)

  genus      vore  conservation sleep_rem sleep_cycle awake brainwt bodywt
1 Acinonyx   carni lc            NA              NA   11.9       NA  50.000
2 Aotus      omni  NA           1.8              NA    7.0  0.01550   0.480
3 Aplodontia herbi nt           2.4              NA    9.6       NA   1.350
4 Blarina    omni  lc           2.3       0.1333333    9.1  0.00029   0.019
5 Bos        herbi domesticated 0.7       0.6666667   20.0  0.42300 600.000
6 Bradypus   herbi NA           2.2       0.7666667    9.6       NA   3.850

In [32]:
x=select(msleep, -name, order)  # don't mix them together
head(x)
head(msleep)

  genus      vore  order        conservation sleep_total sleep_rem sleep_cycle
1 Acinonyx   carni Carnivora    lc           12.1         NA              NA
2 Aotus      omni  Primates     NA           17.0        1.8              NA
3 Aplodontia herbi Rodentia     nt           14.4        2.4              NA
4 Blarina    omni  Soricomorpha lc           14.9        2.3       0.1333333
5 Bos        herbi Artiodactyla domesticated  4.0        0.7       0.6666667
6 Bradypus   herbi Pilosa       NA           14.4        2.2       0.7666667
  awake brainwt bodywt
1 11.9       NA  50.000
2  7.0  0.01550   0.480
3  9.6       NA   1.350
4  9.1  0.00029   0.019
5 20.0  0.42300 600.000
6  9.6       NA   3.850

  name                       genus      vore  order        conservation
1 Cheetah                    Acinonyx   carni Carnivora    lc
2 Owl monkey                 Aotus      omni  Primates     NA
3 Mountain beaver            Aplodontia herbi Rodentia     nt
4 Greater short-tailed shrew Blarina    omni  Soricomorpha lc
5 Cow                        Bos        herbi Artiodactyla domesticated
6 Three-toed sloth           Bradypus   herbi Pilosa       NA
  sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1 12.1         NA              NA   11.9       NA  50.000
2 17.0        1.8              NA    7.0  0.01550   0.480
3 14.4        2.4              NA    9.6       NA   1.350
4 14.9        2.3       0.1333333    9.1  0.00029   0.019
5  4.0        0.7       0.6666667   20.0  0.42300 600.000
6 14.4        2.2       0.7666667    9.6       NA   3.850

In [33]:
x=select(msleep, order:awake)
head(x)

  order        conservation sleep_total sleep_rem sleep_cycle awake
1 Carnivora    lc           12.1         NA              NA   11.9
2 Primates     NA           17.0        1.8              NA    7.0
3 Rodentia     nt           14.4        2.4              NA    9.6
4 Soricomorpha lc           14.9        2.3       0.1333333    9.1
5 Artiodactyla domesticated  4.0        0.7       0.6666667   20.0
6 Pilosa       NA           14.4        2.2       0.7666667    9.6

In [34]:
x=select(msleep, starts_with("sl"))
head(x)

  sleep_total sleep_rem sleep_cycle
1 12.1         NA              NA
2 17.0        1.8              NA
3 14.4        2.4              NA
4 14.9        2.3       0.1333333
5  4.0        0.7       0.6666667
6 14.4        2.2       0.7666667

In [35]:
x=select(msleep, ends_with("e"))
head(x)

  name                       vore  sleep_cycle awake
1 Cheetah                    carni        NA   11.9
2 Owl monkey                 omni         NA    7.0
3 Mountain beaver            herbi        NA    9.6
4 Greater short-tailed shrew omni  0.1333333    9.1
5 Cow                        herbi 0.6666667   20.0
6 Three-toed sloth           herbi 0.7666667    9.6

In [36]:
x=select(msleep, matches("ee.*e"))  #regular expression
# x=select(msleep, matches("e.*e"))  #regular expression
head(x)

  sleep_rem sleep_cycle
1  NA              NA
2 1.8              NA
3 2.4              NA
4 2.3       0.1333333
5 0.7       0.6666667
6 2.2       0.7666667

In [37]:
x=select(msleep, contains("_")) 
head(x)

  sleep_total sleep_rem sleep_cycle
1 12.1         NA              NA
2 17.0        1.8              NA
3 14.4        2.4              NA
4 14.9        2.3       0.1333333
5  4.0        0.7       0.6666667
6 14.4        2.2       0.7666667

In [38]:
x=select(msleep, one_of("name", "order", "xxx")) 
head(x)

Warning message:
"Unknown columns: `xxx`"

  name                       order
1 Cheetah                    Carnivora
2 Owl monkey                 Primates
3 Mountain beaver            Rodentia
4 Greater short-tailed shrew Soricomorpha
5 Cow                        Artiodactyla
6 Three-toed sloth           Pilosa

In [39]:
maintainer("dplyr")

[1] "Hadley Wickham <hadley@rstudio.com>"

In [40]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [41]:
head(filter(mtcars, cyl==8))

  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
1 18.7 8   360.0 175 3.15 3.44 17.02 0  0  3    2
2 14.3 8   360.0 245 3.21 3.57 15.84 0  0  3    4
3 16.4 8   275.8 180 3.07 4.07 17.40 0  0  3    3
4 17.3 8   275.8 180 3.07 3.73 17.60 0  0  3    3
5 15.2 8   275.8 180 3.07 3.78 18.00 0  0  3    3
6 10.4 8   472.0 205 2.93 5.25 17.98 0  0  3    4

In [42]:
head(filter(mtcars, cyl<8))

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
6 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2

In [43]:
head(filter(mtcars, cyl<6 & (vs==1 | am==1)))

  mpg  cyl disp  hp drat wt    qsec  vs am gear carb
1 22.8 4   108.0 93 3.85 2.320 18.61 1  1  4    1
2 24.4 4   146.7 62 3.69 3.190 20.00 1  0  4    2
3 22.8 4   140.8 95 3.92 3.150 22.90 1  0  4    2
4 32.4 4    78.7 66 4.08 2.200 19.47 1  1  4    1
5 30.4 4    75.7 52 4.93 1.615 18.52 1  1  4    2
6 33.9 4    71.1 65 4.22 1.835 19.90 1  1  4    1

In [44]:
head(filter(mtcars, cyl<6, vs==1, am==1)) #equivalent to AND

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
2 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
3 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
4 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
5 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
6 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2

In [45]:
x=arrange(mtcars, cyl, gear)
x

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
2  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
3  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
4  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
5  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
6  30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
7  33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
8  27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
9  21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
10 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
11 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
12 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
13 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
14 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
15 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
16 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
17 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
18 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
19 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
20 14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
21 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
22 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
23 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
24 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
25 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
26 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
27 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
28 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
29 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
30 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
31 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
32 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [46]:
x=select(mtcars, cyl, vs, am)
arrange(x, cyl, vs)

   cyl vs am
1  4   0  1
2  4   1  1
3  4   1  0
4  4   1  0
5  4   1  1
6  4   1  1
7  4   1  1
8  4   1  0
9  4   1  1
10 4   1  1
11 4   1  1
12 6   0  1
13 6   0  1
14 6   0  1
15 6   1  0
16 6   1  0
17 6   1  0
18 6   1  0
19 8   0  0
20 8   0  0
21 8   0  0
22 8   0  0
23 8   0  0
24 8   0  0
25 8   0  0
26 8   0  0
27 8   0  0
28 8   0  0
29 8   0  0
30 8   0  0
31 8   0  1
32 8   0  1

In [47]:
x=select(arrange(x, cyl, vs), cyl, vs, am)
x

   cyl vs am
1  4   0  1
2  4   1  1
3  4   1  0
4  4   1  0
5  4   1  1
6  4   1  1
7  4   1  1
8  4   1  0
9  4   1  1
10 4   1  1
11 4   1  1
12 6   0  1
13 6   0  1
14 6   0  1
15 6   1  0
16 6   1  0
17 6   1  0
18 6   1  0
19 8   0  0
20 8   0  0
21 8   0  0
22 8   0  0
23 8   0  0
24 8   0  0
25 8   0  0
26 8   0  0
27 8   0  0
28 8   0  0
29 8   0  0
30 8   0  0
31 8   0  1
32 8   0  1

In [48]:
x=arrange(mtcars, cyl*gear/carb)
x

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
2  15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
3  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
4  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
5  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
6  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
7  17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
8  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
9  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
10 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
11 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
12 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
13 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
14 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
15 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
16 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
17 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
18 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
19 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
20 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
21 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
22 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
23 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
24 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
25 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
26 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
27 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
28 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
29 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
30 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
31 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
32 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1

In [49]:
x=arrange(mtcars, desc(cyl*gear/carb))
x

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
2  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
5  33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
6  27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
7  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
8  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
9  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
10 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
11 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
12 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
13 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
14 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
15 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
16 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
17 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
18 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
19 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
20 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
21 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
22 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
23 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
24 14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
25 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
26 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
27 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
28 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
29 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
30 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
31 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
32 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [50]:
x=rename(mtcars, Weight=wt); head(x) # newname = oldname

                  mpg  cyl disp hp  drat Weight qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620  16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875  17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320  18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215  19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440  17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460  20.22 1  0  3    1

In [51]:
x=mutate(mtcars, score=cyl*gear/carb); head(x) #create new variable

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb score
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4     6
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4     6
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    16
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    18
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    12
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    18

In [52]:
x=transmute(mtcars, am, vs, score=cyl*gear/carb); head(x) # drop all other columns
x=transmute(mtcars, score=cyl*gear/carb); head(x)

  am vs score
1 1  0   6
2 1  0   6
3 1  1  16
4 0  1  18
5 0  0  12
6 0  1  18

  score
1  6
2  6
3 16
4 18
5 12
6 18

In [53]:
arrange(mutate(mtcars, score=cyl*gear/carb), score)

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb score
1  19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6     5
2  15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8     5
3  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4     6
4  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4     6
5  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4     6
6  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4     6
7  17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4     6
8  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4     6
9  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4     6
10 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4     6
11 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4     6
12 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2     8
13 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2     8
14 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3     8
15 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3     8
16 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3     8
17 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2     8
18 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2     8
19 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    10
20 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    10
21 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4    10
22 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    12
23 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1    12
24 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2    12
25 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2    12
26 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2    12
27 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    16
28 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    16
29 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    16
30 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    16
31 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    18
32 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1    18

In [54]:
head(mtcars)
'============group by cyl'
by_cyl=group_by(mtcars, cyl); head(by_cyl)
str(mtcars)
'============='
str(by_cyl)
class(by_cyl)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

[1] "============group by cyl"

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

[1] "============="

Classes 'grouped_df', 'tbl_df', 'tbl' and 'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...
 - attr(*, "vars")= chr "cyl"
 - attr(*, "drop")= logi TRUE
 - attr(*, "indices")=List of 3
  ..$ : int  2 7 8 17 18 19 20 25 26 27 ...
  ..$ : int  0 1 3 5 9 10 29
  ..$ : int  4 6 11 12 13 14 15 16 21 22 ...
 - attr(*, "group_sizes")= int  11 7 14
 - attr(*, "biggest_group_size")= int 14
 - attr(*, "labels")='data.frame':	3 obs. of  1 variable:
  ..$ cyl: num  4 6 8
  ..- attr(*, "vars")= chr "cyl"
  ..- attr(*, "drop")= logi TRUE

[1] "grouped_df" "tbl_df"     "tbl"        "data.frame"

In [55]:
summarise(by_cyl, sum(hp), sd(hp), sum(disp), sd(disp))

  cyl sum(hp) sd(hp)   sum(disp) sd(disp)
1 4    909    20.93453 1156.5    26.87159
2 6    856    24.26049 1283.2    41.56246
3 8   2929    50.97689 4943.4    67.77132

In [56]:
by_vore=group_by(msleep, vore)
summarise(by_vore, sum(sleep_total), total=sum(sleep_total), avgrem=mean(sleep_rem, na.rm=T)) #give column name

  vore    sum(sleep_total) total avgrem
1 carni   197.2            197.2 2.290000
2 herbi   304.3            304.3 1.366667
3 insecti  74.7             74.7 3.525000
4 omni    218.5            218.5 1.955556
5 NA       71.3             71.3 1.880000

In [57]:
sqrt(9) %>% sqrt %>% sqrt
9 %>% sqrt %>% sqrt %>% sqrt
9**(1/8)

[1] 1.316074

[1] 1.316074

[1] 1.316074

In [58]:
sum(1) %>% sum(1) %>% sum(1) %>% sum(1) #always pass the previous result to the next function as the first arg

[1] 4

In [59]:
8 %>% (function(x){x*x}) #anonymous function

[1] 64

In [60]:
msleep %>% 
select(name, order, sleep_total) %>% 
arrange(order, sleep_total) %>% 
head 
#these functions don't have the dataframe as the first arg because %>% passes in the first arg

  name     order        sleep_total
1 Tenrec   Afrosoricida 15.6
2 Giraffe  Artiodactyla  1.9
3 Roe deer Artiodactyla  3.0
4 Sheep    Artiodactyla  3.8
5 Cow      Artiodactyla  4.0
6 Goat     Artiodactyla  5.3

In [61]:
msleep %>% select(name, order, sleep_total) %>% arrange(order, sleep_total) %>% filter(sleep_total >= 16)

  name                   order           sleep_total
1 Big brown bat          Chiroptera      19.7
2 Little brown bat       Chiroptera      19.9
3 Long-nosed armadillo   Cingulata       17.4
4 Giant armadillo        Cingulata       18.1
5 North American Opossum Didelphimorphia 18.0
6 Thick-tailed opposum   Didelphimorphia 19.4
7 Owl monkey             Primates        17.0
8 Arctic ground squirrel Rodentia        16.6

In [62]:
msleep %>% 
group_by(order) %>% 
summarise(avg_sleep = mean(sleep_total), 
        min_sleep = min(sleep_total),
        max_sleep = max(sleep_total), 
        total = n()) %>% 
head
# n() (returns the length of vector)

  order        avg_sleep min_sleep max_sleep total
1 Afrosoricida 15.600000 15.6      15.6       1
2 Artiodactyla  4.516667  1.9       9.1       6
3 Carnivora    10.116667  3.5      15.8      12
4 Cetacea       4.500000  2.7       5.6       3
5 Chiroptera   19.800000 19.7      19.9       2
6 Cingulata    17.750000 17.4      18.1       2

In [63]:
library(reshape2)

In [64]:
names(airquality)
names(airquality) <- toupper(names(airquality))
head(airquality)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

  OZONE SOLAR.R WIND TEMP MONTH DAY
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [65]:
"=============airquality"
head(airquality)
"=============aql"
aql <- melt(airquality) 
head(aql)
tail(aql)

[1] "=============airquality"

  OZONE SOLAR.R WIND TEMP MONTH DAY
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

[1] "=============aql"

No id variables; using all as measure variables

  variable value
1 OZONE    41
2 OZONE    36
3 OZONE    12
4 OZONE    18
5 OZONE    NA
6 OZONE    28

    variable value
913 DAY      25
914 DAY      26
915 DAY      27
916 DAY      28
917 DAY      29
918 DAY      30

In [66]:
head(airquality)
subset(airquality, MONTH==5 & DAY==1)
filter(airquality, MONTH==5 & DAY==1) #filter is faster than subset when data set is over 15000 or so
aql=melt(airquality, id.vars=c('MONTH', 'DAY')) 
# aql
subset(aql, MONTH==5 & DAY==1)

  OZONE SOLAR.R WIND TEMP MONTH DAY
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

  OZONE SOLAR.R WIND TEMP MONTH DAY
1 41    190     7.4  67   5     1

  OZONE SOLAR.R WIND TEMP MONTH DAY
1 41    190     7.4  67   5     1

    MONTH DAY variable value
1   5     1   OZONE     41.0
154 5     1   SOLAR.R  190.0
307 5     1   WIND       7.4
460 5     1   TEMP      67.0

In [67]:
#when some columns are not numeric, use all of them as id.vars
melt(msleep)

Using name, genus, vore, order, conservation as id variables

    name                           genus         vore    order
1   Cheetah                        Acinonyx      carni   Carnivora
2   Owl monkey                     Aotus         omni    Primates
3   Mountain beaver                Aplodontia    herbi   Rodentia
4   Greater short-tailed shrew     Blarina       omni    Soricomorpha
5   Cow                            Bos           herbi   Artiodactyla
6   Three-toed sloth               Bradypus      herbi   Pilosa
7   Northern fur seal              Callorhinus   carni   Carnivora
8   Vesper mouse                   Calomys       NA      Rodentia
9   Dog                            Canis         carni   Carnivora
10  Roe deer                       Capreolus     herbi   Artiodactyla
11  Goat                           Capri         herbi   Artiodactyla
12  Guinea pig                     Cavis         herbi   Rodentia
13  Grivet                         Cercopithecus omni    Primates
14  Chinchilla                     Chinchilla    herbi   Rodentia
15  Star-nosed mole                Condylura     omni    Soricomorpha
16  African giant pouched rat      Cricetomys    omni    Rodentia
17  Lesser short-tailed shrew      Cryptotis     omni    Soricomorpha
18  Long-nosed armadillo           Dasypus       carni   Cingulata
19  Tree hyrax                     Dendrohyrax   herbi   Hyracoidea
20  North American Opossum         Didelphis     omni    Didelphimorphia
21  Asian elephant                 Elephas       herbi   Proboscidea
22  Big brown bat                  Eptesicus     insecti Chiroptera
23  Horse                          Equus         herbi   Perissodactyla
24  Donkey                         Equus         herbi   Perissodactyla
25  European hedgehog              Erinaceus     omni    Erinaceomorpha
26  Patas monkey                   Erythrocebus  omni    Primates
27  Western american chipmunk      Eutamias      herbi   Rodentia
28  Domestic cat                   Felis         carni   Carnivora
29  Galago                         Galago        omni    Primates
30  Giraffe                        Giraffa       herbi   Artiodactyla
... ...                            ...           ...     ...
469 Baboon                         Papio         omni    Primates
470 Desert hedgehog                Paraechinus   NA      Erinaceomorpha
471 Potto                          Perodicticus  omni    Primates
472 Deer mouse                     Peromyscus    NA      Rodentia
473 Phalanger                      Phalanger     NA      Diprotodontia
474 Caspian seal                   Phoca         carni   Carnivora
475 Common porpoise                Phocoena      carni   Cetacea
476 Potoroo                        Potorous      herbi   Diprotodontia
477 Giant armadillo                Priodontes    insecti Cingulata
478 Rock hyrax                     Procavia      NA      Hyracoidea
479 Laboratory rat                 Rattus        herbi   Rodentia
480 African striped mouse          Rhabdomys     omni    Rodentia
481 Squirrel monkey                Saimiri       omni    Primates
482 Eastern american mole          Scalopus      insecti Soricomorpha
483 Cotton rat                     Sigmodon      herbi   Rodentia
484 Mole rat                       Spalax        NA      Rodentia
485 Arctic ground squirrel         Spermophilus  herbi   Rodentia
486 Thirteen-lined ground squirrel Spermophilus  herbi   Rodentia
487 Golden-mantled ground squirrel Spermophilus  herbi   Rodentia
488 Musk shrew                     Suncus        NA      Soricomorpha
489 Pig                            Sus           omni    Artiodactyla
490 Short-nosed echidna            Tachyglossus  insecti Monotremata
491 Eastern american chipmunk      Tamias        herbi   Rodentia
492 Brazilian tapir                Tapirus       herbi   Perissodactyla
493 Tenrec                         Tenrec        omni    Afrosoricida
494 Tree shrew                     Tupaia        omni    Scandentia
495 Bottle-nosed dolphin           Tursiops      carni   Cetacea
496 Genet                          Genetta       carni   Carnivora
497 Arctic fox                     Vulpes        carni   Carnivora
498 Red fox                        Vulpes        carni   Carnivora
    conservation variable    value
1   lc           sleep_total 12.1
2   NA           sleep_total 17.0
3   nt           sleep_total 14.4
4   lc           sleep_total 14.9
5   domesticated sleep_total  4.0
6   NA           sleep_total 14.4
7   vu           sleep_total  8.7
8   NA           sleep_total  7.0
9   domesticated sleep_total 10.1
10  lc           sleep_total  3.0
11  lc           sleep_total  5.3
12  domesticated sleep_total  9.4
13  lc           sleep_total 10.0
14  domesticated sleep_total 12.5
15  lc           sleep_total 10.3
16  NA           sleep_total  8.3
17  lc           sleep_total  9.1
18  lc           sleep_total 17.4
19  lc           sleep_total  5.3
20  lc           sleep_total 18.0
21  en           sleep_total  3.9
22  lc           sleep_total 19.7
23  domesticated sleep_total  2.9
24  domesticated sleep_total  3.1
25  lc           sleep_total 10.1
26  lc           sleep_total 10.9
27  NA           sleep_total 14.9
28  domesticated sleep_total 12.5
29  NA           sleep_total  9.8
30  cd           sleep_total  1.9
... ...          ...         ...
469 NA           bodywt       25.235
470 lc           bodywt        0.550
471 lc           bodywt        1.100
472 NA           bodywt        0.021
473 NA           bodywt        1.620
474 vu           bodywt       86.000
475 vu           bodywt       53.180
476 NA           bodywt        1.100
477 en           bodywt       60.000
478 lc           bodywt        3.600
479 lc           bodywt        0.320
480 NA           bodywt        0.044
481 NA           bodywt        0.743
482 lc           bodywt        0.075
483 NA           bodywt        0.148
484 NA           bodywt        0.122
485 lc           bodywt        0.920
486 lc           bodywt        0.101
487 lc           bodywt        0.205
488 NA           bodywt        0.048
489 domesticated bodywt       86.250
490 NA           bodywt        4.500
491 NA           bodywt        0.112
492 vu           bodywt      207.501
493 NA           bodywt        0.900
494 NA           bodywt        0.104
495 NA           bodywt      173.330
496 NA           bodywt        2.000
497 NA           bodywt        3.380
498 NA           bodywt        4.230

In [68]:
filter(melt(msleep), name=='Cheetah', genus=='Acinonyx')

Using name, genus, vore, order, conservation as id variables

  name    genus    vore  order     conservation variable    value
1 Cheetah Acinonyx carni Carnivora lc           sleep_total 12.1
2 Cheetah Acinonyx carni Carnivora lc           sleep_rem     NA
3 Cheetah Acinonyx carni Carnivora lc           sleep_cycle   NA
4 Cheetah Acinonyx carni Carnivora lc           awake       11.9
5 Cheetah Acinonyx carni Carnivora lc           brainwt       NA
6 Cheetah Acinonyx carni Carnivora lc           bodywt      50.0

In [69]:
filter(msleep, name=='Cheetah', genus=='Acinonyx')

  name    genus    vore  order     conservation sleep_total sleep_rem
1 Cheetah Acinonyx carni Carnivora lc           12.1        NA
  sleep_cycle awake brainwt bodywt
1 NA          11.9  NA      50

In [70]:
aql=melt(airquality, id.vars="DAY");aql #it doesn't guarantee the id's uniqueness.
subset(airquality, DAY==1)
subset(aql, DAY==1)

    DAY variable value
1    1  OZONE     41
2    2  OZONE     36
3    3  OZONE     12
4    4  OZONE     18
5    5  OZONE     NA
6    6  OZONE     28
7    7  OZONE     23
8    8  OZONE     19
9    9  OZONE      8
10  10  OZONE     NA
11  11  OZONE      7
12  12  OZONE     16
13  13  OZONE     11
14  14  OZONE     14
15  15  OZONE     18
16  16  OZONE     14
17  17  OZONE     34
18  18  OZONE      6
19  19  OZONE     30
20  20  OZONE     11
21  21  OZONE      1
22  22  OZONE     11
23  23  OZONE      4
24  24  OZONE     32
25  25  OZONE     NA
26  26  OZONE     NA
27  27  OZONE     NA
28  28  OZONE     23
29  29  OZONE     45
30  30  OZONE    115
... ... ...      ...
736  1  MONTH    9
737  2  MONTH    9
738  3  MONTH    9
739  4  MONTH    9
740  5  MONTH    9
741  6  MONTH    9
742  7  MONTH    9
743  8  MONTH    9
744  9  MONTH    9
745 10  MONTH    9
746 11  MONTH    9
747 12  MONTH    9
748 13  MONTH    9
749 14  MONTH    9
750 15  MONTH    9
751 16  MONTH    9
752 17  MONTH    9
753 18  MONTH    9
754 19  MONTH    9
755 20  MONTH    9
756 21  MONTH    9
757 22  MONTH    9
758 23  MONTH    9
759 24  MONTH    9
760 25  MONTH    9
761 26  MONTH    9
762 27  MONTH    9
763 28  MONTH    9
764 29  MONTH    9
765 30  MONTH    9

    OZONE SOLAR.R WIND TEMP MONTH DAY
1    41   190     7.4  67   5     1
32   NA   286     8.6  78   6     1
62  135   269     4.1  84   7     1
93   39    83     6.9  81   8     1
124  96   167     6.9  91   9     1

    DAY variable value
1   1   OZONE     41.0
32  1   OZONE       NA
62  1   OZONE    135.0
93  1   OZONE     39.0
124 1   OZONE     96.0
154 1   SOLAR.R  190.0
185 1   SOLAR.R  286.0
215 1   SOLAR.R  269.0
246 1   SOLAR.R   83.0
277 1   SOLAR.R  167.0
307 1   WIND       7.4
338 1   WIND       8.6
368 1   WIND       4.1
399 1   WIND       6.9
430 1   WIND       6.9
460 1   TEMP      67.0
491 1   TEMP      78.0
521 1   TEMP      84.0
552 1   TEMP      81.0
583 1   TEMP      91.0
613 1   MONTH      5.0
644 1   MONTH      6.0
674 1   MONTH      7.0
705 1   MONTH      8.0
736 1   MONTH      9.0

In [71]:
aql=melt(airquality, id.vars="OZONE");head(aql) #it doesn't guarantee the id's uniqueness.
subset(airquality, OZONE==12)
subset(aql, OZONE==12)

  OZONE variable value
1 41    SOLAR.R  190
2 36    SOLAR.R  118
3 12    SOLAR.R  149
4 18    SOLAR.R  313
5 NA    SOLAR.R   NA
6 28    SOLAR.R   NA

   OZONE SOLAR.R WIND TEMP MONTH DAY
3  12    149     12.6 74   5      3
50 12    120     11.5 73   6     19

    OZONE variable value
3   12    SOLAR.R  149.0
50  12    SOLAR.R  120.0
156 12    WIND      12.6
203 12    WIND      11.5
309 12    TEMP      74.0
356 12    TEMP      73.0
462 12    MONTH      5.0
509 12    MONTH      6.0
615 12    DAY        3.0
662 12    DAY       19.0

In [72]:
# subset(airquality, MONTH==5 & DAY==1)
subset(airquality, OZONE==12)
head(aql)
subset(aql, OZONE==12) 
subset(aql, value==190)

# subset(aql, MONTH==5 & DAY==1)

   OZONE SOLAR.R WIND TEMP MONTH DAY
3  12    149     12.6 74   5      3
50 12    120     11.5 73   6     19

  OZONE variable value
1 41    SOLAR.R  190
2 36    SOLAR.R  118
3 12    SOLAR.R  149
4 18    SOLAR.R  313
5 NA    SOLAR.R   NA
6 28    SOLAR.R   NA

    OZONE variable value
3   12    SOLAR.R  149.0
50  12    SOLAR.R  120.0
156 12    WIND      12.6
203 12    WIND      11.5
309 12    TEMP      74.0
356 12    TEMP      73.0
462 12    MONTH      5.0
509 12    MONTH      6.0
615 12    DAY        3.0
662 12    DAY       19.0

    OZONE variable value
1   41    SOLAR.R  190
112 44    SOLAR.R  190

In [73]:
aql=melt(airquality, id.vars=c('MONTH', 'DAY'))
subset(airquality, MONTH==5 & DAY==1)
subset(aql, MONTH==5 & DAY==1)

  OZONE SOLAR.R WIND TEMP MONTH DAY
1 41    190     7.4  67   5     1

    MONTH DAY variable value
1   5     1   OZONE     41.0
154 5     1   SOLAR.R  190.0
307 5     1   WIND       7.4
460 5     1   TEMP      67.0

In [74]:
head(airquality)
aql <- melt(airquality, id.vars = c("MONTH", "DAY"),
  variable.name = "climate_variable", 
  value.name = "climate_value") #rename
subset(aql, MONTH==5 & DAY==1)

  OZONE SOLAR.R WIND TEMP MONTH DAY
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

    MONTH DAY climate_variable climate_value
1   5     1   OZONE             41.0
154 5     1   SOLAR.R          190.0
307 5     1   WIND               7.4
460 5     1   TEMP              67.0

In [75]:
aql

    MONTH DAY climate_variable climate_value
1   5      1  OZONE             41
2   5      2  OZONE             36
3   5      3  OZONE             12
4   5      4  OZONE             18
5   5      5  OZONE             NA
6   5      6  OZONE             28
7   5      7  OZONE             23
8   5      8  OZONE             19
9   5      9  OZONE              8
10  5     10  OZONE             NA
11  5     11  OZONE              7
12  5     12  OZONE             16
13  5     13  OZONE             11
14  5     14  OZONE             14
15  5     15  OZONE             18
16  5     16  OZONE             14
17  5     17  OZONE             34
18  5     18  OZONE              6
19  5     19  OZONE             30
20  5     20  OZONE             11
21  5     21  OZONE              1
22  5     22  OZONE             11
23  5     23  OZONE              4
24  5     24  OZONE             32
25  5     25  OZONE             NA
26  5     26  OZONE             NA
27  5     27  OZONE             NA
28  5     28  OZONE             23
29  5     29  OZONE             45
30  5     30  OZONE            115
... ...   ... ...              ...
583 9      1  TEMP             91
584 9      2  TEMP             92
585 9      3  TEMP             93
586 9      4  TEMP             93
587 9      5  TEMP             87
588 9      6  TEMP             84
589 9      7  TEMP             80
590 9      8  TEMP             78
591 9      9  TEMP             75
592 9     10  TEMP             73
593 9     11  TEMP             81
594 9     12  TEMP             76
595 9     13  TEMP             77
596 9     14  TEMP             71
597 9     15  TEMP             71
598 9     16  TEMP             78
599 9     17  TEMP             67
600 9     18  TEMP             76
601 9     19  TEMP             68
602 9     20  TEMP             82
603 9     21  TEMP             64
604 9     22  TEMP             71
605 9     23  TEMP             81
606 9     24  TEMP             69
607 9     25  TEMP             63
608 9     26  TEMP             70
609 9     27  TEMP             77
610 9     28  TEMP             75
611 9     29  TEMP             76
612 9     30  TEMP             68

In [76]:
aqw <- dcast(aql, MONTH + DAY ~ climate_variable, value.var="climate_value");head(aqw)
subset(aqw, MONTH==5 & DAY==1)

  MONTH DAY OZONE SOLAR.R WIND TEMP
1 5     1   41    190      7.4 67
2 5     2   36    118      8.0 72
3 5     3   12    149     12.6 74
4 5     4   18    313     11.5 62
5 5     5   NA     NA     14.3 56
6 5     6   28     NA     14.9 66

  MONTH DAY OZONE SOLAR.R WIND TEMP
1 5     1   41    190     7.4  67

In [77]:
head(aql)
dcast(aql, MONTH ~ climate_variable)

  MONTH DAY climate_variable climate_value
1 5     1   OZONE            41
2 5     2   OZONE            36
3 5     3   OZONE            12
4 5     4   OZONE            18
5 5     5   OZONE            NA
6 5     6   OZONE            28

Using climate_value as value column: use value.var to override.
Aggregation function missing: defaulting to length

  MONTH OZONE SOLAR.R WIND TEMP
1 5     31    31      31   31
2 6     30    30      30   30
3 7     31    31      31   31
4 8     31    31      31   31
5 9     30    30      30   30

In [78]:
aql2=melt(airquality, id.vars=c("MONTH", "DAY", "OZONE"))
head(aql2)

  MONTH DAY OZONE variable value
1 5     1   41    SOLAR.R  190
2 5     2   36    SOLAR.R  118
3 5     3   12    SOLAR.R  149
4 5     4   18    SOLAR.R  313
5 5     5   NA    SOLAR.R   NA
6 5     6   28    SOLAR.R   NA

In [79]:
dcast(aql, MONTH ~ climate_variable, fun.aggregate=mean, na.rm=T)

Using climate_value as value column: use value.var to override.

  MONTH OZONE    SOLAR.R  WIND      TEMP
1 5     23.61538 181.2963 11.622581 65.54839
2 6     29.44444 190.1667 10.266667 79.10000
3 7     59.11538 216.4839  8.941935 83.90323
4 8     59.96154 171.8571  8.793548 83.96774
5 9     31.44828 167.4333 10.180000 76.90000

In [80]:
head(iris)

# data6 <- melt(iris,measure.vars = c("Species")) 
data6 <- melt(iris,measure.vars = c("Petal.Width")) 
"==========data6"
data6

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

[1] "==========data6"

    Sepal.Length Sepal.Width Petal.Length Species   variable    value
1   5.1          3.5         1.4          setosa    Petal.Width 0.2
2   4.9          3.0         1.4          setosa    Petal.Width 0.2
3   4.7          3.2         1.3          setosa    Petal.Width 0.2
4   4.6          3.1         1.5          setosa    Petal.Width 0.2
5   5.0          3.6         1.4          setosa    Petal.Width 0.2
6   5.4          3.9         1.7          setosa    Petal.Width 0.4
7   4.6          3.4         1.4          setosa    Petal.Width 0.3
8   5.0          3.4         1.5          setosa    Petal.Width 0.2
9   4.4          2.9         1.4          setosa    Petal.Width 0.2
10  4.9          3.1         1.5          setosa    Petal.Width 0.1
11  5.4          3.7         1.5          setosa    Petal.Width 0.2
12  4.8          3.4         1.6          setosa    Petal.Width 0.2
13  4.8          3.0         1.4          setosa    Petal.Width 0.1
14  4.3          3.0         1.1          setosa    Petal.Width 0.1
15  5.8          4.0         1.2          setosa    Petal.Width 0.2
16  5.7          4.4         1.5          setosa    Petal.Width 0.4
17  5.4          3.9         1.3          setosa    Petal.Width 0.4
18  5.1          3.5         1.4          setosa    Petal.Width 0.3
19  5.7          3.8         1.7          setosa    Petal.Width 0.3
20  5.1          3.8         1.5          setosa    Petal.Width 0.3
21  5.4          3.4         1.7          setosa    Petal.Width 0.2
22  5.1          3.7         1.5          setosa    Petal.Width 0.4
23  4.6          3.6         1.0          setosa    Petal.Width 0.2
24  5.1          3.3         1.7          setosa    Petal.Width 0.5
25  4.8          3.4         1.9          setosa    Petal.Width 0.2
26  5.0          3.0         1.6          setosa    Petal.Width 0.2
27  5.0          3.4         1.6          setosa    Petal.Width 0.4
28  5.2          3.5         1.5          setosa    Petal.Width 0.2
29  5.2          3.4         1.4          setosa    Petal.Width 0.2
30  4.7          3.2         1.6          setosa    Petal.Width 0.2
... ...          ...         ...          ...       ...         ...
121 6.9          3.2         5.7          virginica Petal.Width 2.3
122 5.6          2.8         4.9          virginica Petal.Width 2.0
123 7.7          2.8         6.7          virginica Petal.Width 2.0
124 6.3          2.7         4.9          virginica Petal.Width 1.8
125 6.7          3.3         5.7          virginica Petal.Width 2.1
126 7.2          3.2         6.0          virginica Petal.Width 1.8
127 6.2          2.8         4.8          virginica Petal.Width 1.8
128 6.1          3.0         4.9          virginica Petal.Width 1.8
129 6.4          2.8         5.6          virginica Petal.Width 2.1
130 7.2          3.0         5.8          virginica Petal.Width 1.6
131 7.4          2.8         6.1          virginica Petal.Width 1.9
132 7.9          3.8         6.4          virginica Petal.Width 2.0
133 6.4          2.8         5.6          virginica Petal.Width 2.2
134 6.3          2.8         5.1          virginica Petal.Width 1.5
135 6.1          2.6         5.6          virginica Petal.Width 1.4
136 7.7          3.0         6.1          virginica Petal.Width 2.3
137 6.3          3.4         5.6          virginica Petal.Width 2.4
138 6.4          3.1         5.5          virginica Petal.Width 1.8
139 6.0          3.0         4.8          virginica Petal.Width 1.8
140 6.9          3.1         5.4          virginica Petal.Width 2.1
141 6.7          3.1         5.6          virginica Petal.Width 2.4
142 6.9          3.1         5.1          virginica Petal.Width 2.3
143 5.8          2.7         5.1          virginica Petal.Width 1.9
144 6.8          3.2         5.9          virginica Petal.Width 2.3
145 6.7          3.3         5.7          virginica Petal.Width 2.5
146 6.7          3.0         5.2          virginica Petal.Width 2.3
147 6.3          2.5         5.0          virginica Petal.Width 1.9
148 6.5          3.0         5.2          virginica Petal.Width 2.0
149 6.2          3.4         5.4          virginica Petal.Width 2.3
150 5.9          3.0         5.1          virginica Petal.Width 1.8

In [81]:
dim(iris)
dim(data6)

[1] 150   5

[1] 150   6

In [82]:
#attributes are not identical across measure variables; they will be dropped
# data6 <- melt(iris,measure.vars = c("Species", "Sepal.Length")) 

# head(data6,3)
subset(iris, Sepal.Length==5.1 & Sepal.Width==3.5)
subset(data6, Sepal.Length==5.1 & Sepal.Width==3.5)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
18 5.1          3.5         1.4          0.3         setosa

   Sepal.Length Sepal.Width Petal.Length Species variable    value
1  5.1          3.5         1.4          setosa  Petal.Width 0.2
18 5.1          3.5         1.4          setosa  Petal.Width 0.3

In [83]:
aql <- melt(airquality, id.vars = c("MONTH", "DAY"))
head(aql)
aqw <- dcast(aql, MONTH + DAY ~ variable)
head(aqw)
head(airquality) # original data

  MONTH DAY variable value
1 5     1   OZONE    41
2 5     2   OZONE    36
3 5     3   OZONE    12
4 5     4   OZONE    18
5 5     5   OZONE    NA
6 5     6   OZONE    28

  MONTH DAY OZONE SOLAR.R WIND TEMP
1 5     1   41    190      7.4 67
2 5     2   36    118      8.0 72
3 5     3   12    149     12.6 74
4 5     4   18    313     11.5 62
5 5     5   NA     NA     14.3 56
6 5     6   28     NA     14.9 66

  OZONE SOLAR.R WIND TEMP MONTH DAY
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [84]:
head(iris) # use string volumn as default id variables if not specified.
x=melt(iris);head(x)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

Using Species as id variables

  Species variable     value
1 setosa  Sepal.Length 5.1
2 setosa  Sepal.Length 4.9
3 setosa  Sepal.Length 4.7
4 setosa  Sepal.Length 4.6
5 setosa  Sepal.Length 5.0
6 setosa  Sepal.Length 5.4