In [6]:
data <- read.csv("Project/data/IBM.csv")
class(data)

[1] "data.frame"

In [9]:
head(data)
nrow(data)

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 154.50 154.81 153.54 154.25 142.4840  4202500
2 2018-01-03 157.34 159.81 156.33 158.49 146.4006  9441600
3 2018-01-04 159.65 162.32 159.37 161.70 149.3657  7556200
4 2018-01-05 162.44 162.90 161.10 162.49 150.0954  5195800
5 2018-01-08 162.66 163.91 161.70 163.47 151.0007  5237500
6 2018-01-09 163.90 164.53 163.06 163.83 151.3332  4341800

[1] 251