In [1]:
?matrix
matrix

function (data = NA, nrow = 1, ncol = 1, byrow = FALSE, dimnames = NULL)
{
    if (is.object(data) || !is.atomic(data))
        data <- as.vector(data)
    .Internal(matrix(data, nrow, ncol, byrow, dimnames, missing(nrow),
        missing(ncol)))
}
<bytecode: 0x0000000012aa1af0>
<environment: namespace:base>

In [2]:
matrix()
matrix(nrow=2, ncol=3)
matrix(0, 2, 3)
matrix(1:6, 2, 3)
matrix(1:6, 2, 3, byrow=TRUE)

     [,1]
[1,] NA

     [,1] [,2] [,3]
[1,] NA   NA   NA
[2,] NA   NA   NA

     [,1] [,2] [,3]
[1,] 0    0    0
[2,] 0    0    0

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6

In [3]:
#row names and column names
rnames <- c('R1', 'R2')
cnames <- c('C1', 'C2', 'C3')
matrix(1:6, nrow=2, dimnames=list(rnames, cnames))

   C1 C2 C3
R1 1  3  5
R2 2  4  6

In [4]:
#assign row names and column names
x=matrix(1:6, nrow=2)
rownames(x)=c('r1', 'r2')
colnames(x)=c('c1', 'c2', 'c3')
x

   c1 c2 c3
r1 1  3  5
r2 2  4  6

In [5]:
#use dim() to create matrix from vector
x <- 1:6   ##vector
x
dim(x) <- c(3, 2)  ##convert vector to matrix in place
is.matrix(x)   
x

[1] 1 2 3 4 5 6

[1] TRUE

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

In [6]:
#Matrix Transpose
?t
t(x)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6

In [7]:
#matrix attributes
rnames <- c('R1', 'R2')
cnames <- c('C1', 'C2', 'C3')
x=matrix(1:6, nrow=2, dimnames=list(rnames, cnames))
x
class(x)  ##data structure type
typeof(x)  ##element data type
dim(x)  ##dimension
length(x)  ##total number of elements
rownames(x)  ##get row names
colnames(x)  ##get column names

   C1 C2 C3
R1 1  3  5
R2 2  4  6

[1] "matrix"

[1] "integer"

[1] 2 3

[1] 6

[1] "R1" "R2"

[1] "C1" "C2" "C3"

In [8]:
#bind vectors into matrix
rbind(c(71,172),c(73,169),c(69,160),c(65,130))
cbind(c(71,73,69,65),c(172,169,160,130))

     [,1] [,2]
[1,] 71   172
[2,] 73   169
[3,] 69   160
[4,] 65   130

     [,1] [,2]
[1,] 71   172
[2,] 73   169
[3,] 69   160
[4,] 65   130

In [9]:
#access elements in matrix
x
x[,2]
x[2,]
x[2,2]

   C1 C2 C3
R1 1  3  5
R2 2  4  6

R1 R2
 3  4

C1 C2 C3
 2  4  6

[1] 4

In [10]:
typeof(x[2,])
class(x[2,])
x[2,][1]

[1] "integer"

[1] "integer"

C1
 2

In [11]:
x[,c(1,2)]
x[c(1,2),]

   C1 C2
R1 1  3
R2 2  4

   C1 C2 C3
R1 1  3  5
R2 2  4  6

In [12]:
x[,c(2:3)]
x[1,c(2:3)]

   C2 C3
R1 3  5
R2 4  6

C2 C3
 3  5

In [13]:
x[,-c(2:3)] #exclude

R1 R2
 1  2

In [14]:
# how does R deal with incomplete data. Cyclically reuse the vector.
x=rbind(c(71,172),c(73),c(69,160),c(65,130)); x
y=cbind(c(71,73,65),c(172,169,160,130)); y
y=cbind(c(71,73,69,65),c(172,169,130)); y

     [,1] [,2]
[1,] 71   172
[2,] 73    73
[3,] 69   160
[4,] 65   130

Warning message in cbind(c(71, 73, 65), c(172, 169, 160, 130)):
"number of rows of result is not a multiple of vector length (arg 1)"

     [,1] [,2]
[1,] 71   172
[2,] 73   169
[3,] 65   160
[4,] 71   130

Warning message in cbind(c(71, 73, 69, 65), c(172, 169, 130)):
"number of rows of result is not a multiple of vector length (arg 2)"

     [,1] [,2]
[1,] 71   172
[2,] 73   169
[3,] 69   130
[4,] 65   172

In [15]:
# how does R deal with incomplete data. Cyclically reuse the vector.
z=matrix(1:6,2,5); z
z=matrix(1:6,2,5, byrow=T); z

Warning message in matrix(1:6, 2, 5):
"data length [6] is not a sub-multiple or multiple of the number of columns [5]"

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    1    3
[2,] 2    4    6    2    4

Warning message in matrix(1:6, 2, 5, byrow = T):
"data length [6] is not a sub-multiple or multiple of the number of columns [5]"

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    3    4    5
[2,] 6    1    2    3    4

In [16]:
x=c(1,2,3,4,5,6);x
x[1] #index starts from 1
x[2]
x[0] # it is always integer(0) or numeric(0)
print(x[0])
x[2:3] #slicing
x[-2] #drop
x[c(3,5,6)]
x[c(3,5,6,8)] #when index is out of range

[1] 1 2 3 4 5 6

[1] 1

[1] 2

numeric(0)

numeric(0)

[1] 2 3

[1] 1 3 4 5 6

[1] 3 5 6

[1]  3  5  6 NA

In [17]:
#filtering
x[x>3]
x[x<2 | x>3]
which(x>3)  #return indices
which(x<2 | x>3)
which.max(x)
y=c(2,3,3,2)
which.max(y)
?which.max

[1] 4 5 6

[1] 1 4 5 6

[1] 4 5 6

[1] 1 4 5 6

[1] 6

[1] 2

In [18]:
# logical vectors
x
x>3
x<2 | x>3  
x<2 & x>3  
all(x>3)
any(x>3)
x %in% c(2,4)

[1] 1 2 3 4 5 6

[1] FALSE FALSE FALSE  TRUE  TRUE  TRUE

[1]  TRUE FALSE FALSE  TRUE  TRUE  TRUE

[1] FALSE FALSE FALSE FALSE FALSE FALSE

[1] FALSE

[1] TRUE

[1] FALSE  TRUE FALSE  TRUE FALSE FALSE

In [19]:
# && and ||
# The longer form evaluates left to right examining only the first element of each vector
x=1:6
x>2
x<5
(x > 2) && (x < 5)
(x[1] > 2) & (x[1] < 5)

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE

[1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE

[1] FALSE

[1] FALSE

In [20]:
x = 1; y = 2
(x == 1) & (y == 2)
(x == 1) && (y == 2)

[1] TRUE

[1] TRUE

In [21]:
z = 1:6
(z > 2) & (z < 5)
z[(z>2) & (z<5)]

[1] FALSE FALSE  TRUE  TRUE FALSE FALSE

[1] 3 4

In [65]:
z=1:6
z>2
z<5

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE

[1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE

In [66]:
(z > 2) & (z < 5)

[1] FALSE FALSE  TRUE  TRUE FALSE FALSE

In [75]:
(z > 2)  (z < 5)

[1] TRUE

In [74]:
(z > 2)[1] || (z < 5)[1]

[1] TRUE

In [69]:
z<2

[1]  TRUE FALSE FALSE FALSE FALSE FALSE

In [70]:
z<3

[1]  TRUE  TRUE FALSE FALSE FALSE FALSE

In [73]:
z<2 || z<3

[1] TRUE

In [72]:
(z<2)[1] & (z<3)[1]

[1] TRUE

In [22]:
(z > 2) && (z < 5)
z[(z > 2) && (z < 5)]

[1] 1 2 3 4 5 6

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE

[1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE

[1] FALSE

integer(0)

In [23]:
(z > 2) && (z < 5)
z[(z > 0) && (z < 5)]  # R recylces the TRUE variable

[1] FALSE

[1] 1 2 3 4 5 6

In [24]:
z
z[TRUE]
# z[FALSE] ##output nothing

[1] 1 2 3 4 5 6

[1] 1 2 3 4 5 6

In [25]:
# more examples of && and ||
a=c(0,1,1)
b=c(0,0,1)
a & b

a | b
a && b # The longer form evaluates left to right examining only the first element of each vector
a || b
a=c(0,1,1)
b=c(1,0,1)
a & b
a | b
a && b
a || b
a=c(1,1,1)
b=c(1,0,1)
a & b
a | b
a && b
a || b

[1] FALSE FALSE  TRUE

[1] FALSE  TRUE  TRUE

[1] FALSE

[1] FALSE

[1] FALSE FALSE  TRUE

[1] TRUE TRUE TRUE

[1] FALSE

[1] TRUE

[1]  TRUE FALSE  TRUE

[1] TRUE TRUE TRUE

[1] TRUE

[1] TRUE

In [26]:
x # a scalar is like a vector with lengh =1
x>3
x[x>3]

[1] 1

[1] FALSE

numeric(0)

In [27]:
x[c(FALSE, FALSE, FALSE, TRUE, TRUE, TRUE)]
x<2 | x>3
x[x<2 | x>3]
x[c(TRUE, FALSE, FALSE, TRUE, TRUE, TRUE)]

[1] NA NA NA

[1] TRUE

[1] 1

[1]  1 NA NA NA

In [28]:
x=c(1,2,3,NA,4)
x
is.na(x)
mean(x)
mean(x, na.rm=TRUE)
all(!is.na(x))
any(is.na(x))
x[is.na(x)]=0
x
mean(x)
(1/0)*8 # NA is different from inf

[1]  1  2  3 NA  4

[1] FALSE FALSE FALSE  TRUE FALSE

[1] NA

[1] 2.5

[1] FALSE

[1] TRUE

[1] 1 2 3 0 4

[1] 2

[1] Inf

In [1]:
library() #list all installed packages
library(MASS)
head(survey)
tail(survey)
# data(survey, package="MASS")

  Sex    Wr.Hnd NW.Hnd W.Hnd Fold    Pulse Clap    Exer Smoke Height M.I
1 Female 18.5   18.0   Right R on L   92   Left    Some Never 173.00 Metric
2 Male   19.5   20.5   Left  R on L  104   Left    None Regul 177.80 Imperial
3 Male   18.0   13.3   Right L on R   87   Neither None Occas     NA NA
4 Male   18.8   18.9   Right R on L   NA   Neither None Never 160.00 Metric
5 Male   20.0   20.0   Right Neither  35   Right   Some Never 165.00 Metric
6 Female 18.0   17.7   Right L on R   64   Right   Some Never 172.72 Imperial
  Age
1 18.250
2 17.583
3 16.917
4 20.333
5 23.667
6 21.000

    Sex    Wr.Hnd NW.Hnd W.Hnd Fold   Pulse Clap  Exer Smoke Height M.I
232 Male   18.0   16.0   Right R on L NA    Right Some Never 180.34 Imperial
233 Female 18.0   18.0   Right L on R 85    Right Some Never 165.10 Imperial
234 Female 18.5   18.0   Right L on R 88    Right Some Never 160.00 Metric
235 Female 17.5   16.5   Right R on L NA    Right Some Never 170.00 Metric
236 Male   21.0   21.5   Right R on L 90    Right Some Never 183.00 Metric
237 Female 17.6   17.3   Right R on L 85    Right Freq Never 168.50 Metric
    Age
232 20.750
233 17.667
234 16.917
235 18.583
236 17.167
237 17.750

In [129]:
islands

          Africa       Antarctica             Asia        Australia
           11506             5500            16988             2968
    Axel Heiberg           Baffin            Banks           Borneo
              16              184               23              280
         Britain          Celebes            Celon             Cuba
              84               73               25               43
           Devon        Ellesmere           Europe        Greenland
              21               82             3745              840
          Hainan       Hispaniola         Hokkaido           Honshu
              13               30               30               89
         Iceland          Ireland             Java           Kyushu
              40               33               49               14
           Luzon       Madagascar         Melville         Mindanao
              42              227               16               36
        Moluccas      New Britain       New Guinea  New Zealand (N)
              29               15              306               44
 New Zealand (S)     Newfoundland    North America    Novaya Zemlya
              58               43             9390               32
 Prince of Wales         Sakhalin    South America      Southampton
              13               29             6795               16
     Spitsbergen          Sumatra           Taiwan         Tasmania
              15              183               14               26
Tierra del Fuego            Timor        Vancouver         Victoria
              19               13               12               82

In [30]:
# islands
class(islands)
head(islands)
islands[1]
islands['Africa']

[1] "numeric"

      Africa   Antarctica         Asia    Australia Axel Heiberg       Baffin
       11506         5500        16988         2968           16          184

Africa
 11506

Africa
 11506

In [2]:
library(help=MASS)
library(MASS)
find.package() # list all loaded packages
detach("package:MASS", unload=TRUE)
find.package()

[1] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/MASS"
[2] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/stats"
[3] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/graphics"
[4] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/grDevices"
[5] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/utils"
[6] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/datasets"
[7] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/methods"
[8] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/base"

[1] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/stats"
[2] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/graphics"
[3] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/grDevices"
[4] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/utils"
[5] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/datasets"
[6] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/methods"
[7] "/home/bright-augura/anaconda3/envs/r_env/lib/R/library/base"

In [32]:
whales=scan() #doesn't work in jupyter

In [130]:
data()

In [34]:
head(rock)

  area peri    shape     perm
1 4990 2791.90 0.0903296  6.3
2 7002 3892.60 0.1486220  6.3
3 7558 3930.66 0.1833120  6.3
4 7352 3869.32 0.1170630  6.3
5 7943 3948.54 0.1224170 17.1
6 7979 4010.15 0.1670450 17.1

In [35]:
numbers=scan(file="numbers.txt");numbers

[1] 1 2 3 4

In [36]:
mytable=read.table(file="table.txt", header=TRUE);mytable
# read.table(file=file.choose()) 
class(mytable)

  texas florida
1  74    89
2 122   234

[1] "data.frame"

In [37]:
LETTERS
data.frame(index=1:26, symbol=LETTERS)

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

   index symbol
1   1    A
2   2    B
3   3    C
4   4    D
5   5    E
6   6    F
7   7    G
8   8    H
9   9    I
10 10    J
11 11    K
12 12    L
13 13    M
14 14    N
15 15    O
16 16    P
17 17    Q
18 18    R
19 19    S
20 20    T
21 21    U
22 22    V
23 23    W
24 24    X
25 25    Y
26 26    Z

In [8]:
?data.frame

In [39]:
mydata=data.frame(col1=1:3, col2=4:6, col3=c('x', 'y', 'z'));mydata

  col1 col2 col3
1 1    4    x
2 2    5    y
3 3    6    z

In [40]:
# col1=9
# rm(col1)
# ls()
names(mydata)
attach(mydata)
col1
col2
# detach(mydata)
# # col1
# # col1
# # col2
mydata$col1
with(mydata, col1)
with(mydata, mean(col1))

[1] "col1" "col2" "col3"

[1] 1 2 3

[1] 4 5 6

[1] 1 2 3

[1] 1 2 3

[1] 2

In [3]:
library(ISwR)
data(thuesen)
head(thuesen)
names(thuesen)
attach(thuesen) #add namespace
blood.glucose
detach(thuesen) #remove namespace
thuesen$blood.glucose

ERROR: Error in library(ISwR): there is no package called ‘ISwR’

with(thuesen, blood.glucose) # with context
with(thuesen, mean(blood.glucose))
with(thuesen, range(blood.glucose))

In [43]:
head(energy)
class(energy)
energy[energy$stature== "lean",]

  expend stature
1  9.21  obese
2  7.53  lean
3  7.48  lean
4  8.08  lean
5  8.09  lean
6 10.15  lean

[1] "data.frame"

   expend stature
2   7.53  lean
3   7.48  lean
4   8.08  lean
5   8.09  lean
6  10.15  lean
7   8.40  lean
8  10.88  lean
9   6.13  lean
10  7.90  lean
13  7.05  lean
16  7.48  lean
20  7.58  lean
22  8.11  lean

In [132]:
energy$stature== "lean"

 [1] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE
[13]  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE

In [90]:
energy$expend

sort(energy$expend, decreasing = TRUE)
order(energy$expend, decreasing = TRUE)

 [1]  9.21  7.53  7.48  8.08  8.09 10.15  8.40 10.88  6.13  7.90 11.51 12.79
[13]  7.05 11.85  9.97  7.48  8.79  9.69  9.68  7.58  9.19  8.11

 [1] 12.79 11.85 11.51 10.88 10.15  9.97  9.69  9.68  9.21  9.19  8.79  8.40
[13]  8.11  8.09  8.08  7.90  7.58  7.53  7.48  7.48  7.05  6.13

 [1] 12 14 11  8  6 15 18 19  1 21 17  7 22  5  4 10 20  2  3 16 13  9

In [137]:
energy$stature
order(energy$stature)
order(energy$stature, energy$expend)

 [1] obese lean  lean  lean  lean  lean  lean  lean  lean  lean  obese obese
[13] lean  obese obese lean  obese obese obese lean  obese lean
Levels: lean obese

 [1]  2  3  4  5  6  7  8  9 10 13 16 20 22  1 11 12 14 15 17 18 19 21

 [1]  9 13  3 16  2 20 10  4  5 22  7  6  8 17 21  1 19 18 15 11 14 12

In [85]:
energy$stature

 [1] obese lean  lean  lean  lean  lean  lean  lean  lean  lean  obese obese
[13] lean  obese obese lean  obese obese obese lean  obese lean
Levels: lean obese

In [92]:
energy[order(energy$expend),]
energy[order(energy$stature, energy$expend),]
energy[with(energy, order(stature, expend)),] # with context

   expend stature
9   6.13  lean
13  7.05  lean
3   7.48  lean
16  7.48  lean
2   7.53  lean
20  7.58  lean
10  7.90  lean
4   8.08  lean
5   8.09  lean
22  8.11  lean
7   8.40  lean
17  8.79  obese
21  9.19  obese
1   9.21  obese
19  9.68  obese
18  9.69  obese
15  9.97  obese
6  10.15  lean
8  10.88  lean
11 11.51  obese
14 11.85  obese
12 12.79  obese

   expend stature
9   6.13  lean
13  7.05  lean
3   7.48  lean
16  7.48  lean
2   7.53  lean
20  7.58  lean
10  7.90  lean
4   8.08  lean
5   8.09  lean
22  8.11  lean
7   8.40  lean
6  10.15  lean
8  10.88  lean
17  8.79  obese
21  9.19  obese
1   9.21  obese
19  9.68  obese
18  9.69  obese
15  9.97  obese
11 11.51  obese
14 11.85  obese
12 12.79  obese

   expend stature
9   6.13  lean
13  7.05  lean
3   7.48  lean
16  7.48  lean
2   7.53  lean
20  7.58  lean
10  7.90  lean
4   8.08  lean
5   8.09  lean
22  8.11  lean
7   8.40  lean
6  10.15  lean
8  10.88  lean
17  8.79  obese
21  9.19  obese
1   9.21  obese
19  9.68  obese
18  9.69  obese
15  9.97  obese
11 11.51  obese
14 11.85  obese
12 12.79  obese

In [45]:
subset(energy, stature=="lean" & expend>8)
energy[energy$stature== "lean" & energy$expend>8, ]

   expend stature
4   8.08  lean
5   8.09  lean
6  10.15  lean
7   8.40  lean
8  10.88  lean
22  8.11  lean

   expend stature
4   8.08  lean
5   8.09  lean
6  10.15  lean
7   8.40  lean
8  10.88  lean
22  8.11  lean

In [46]:
x=split(energy$expend, energy$stature) # split the data in energy$expend into the groups defined by energy$stature
class(x)
x

[1] "list"

$lean
 [1]  7.53  7.48  8.08  8.09 10.15  8.40 10.88  6.13  7.90  7.05  7.48  7.58
[13]  8.11

$obese
[1]  9.21 11.51 12.79 11.85  9.97  8.79  9.69  9.68  9.19

In [138]:
split(1:10, c("A", "B"))
#1 2 3 4 5 6 7 8 9 10
#A B A B A B A B A B 

# list
# A: 1,3,5,7,9
# B: 2,4,6,8,10

$A
[1] 1 3 5 7 9

$B
[1]  2  4  6  8 10

In [47]:
x$lean
x[[1]]

 [1]  7.53  7.48  8.08  8.09 10.15  8.40 10.88  6.13  7.90  7.05  7.48  7.58
[13]  8.11

 [1]  7.53  7.48  8.08  8.09 10.15  8.40 10.88  6.13  7.90  7.05  7.48  7.58
[13]  8.11

In [141]:
energy[[1]]

 [1]  9.21  7.53  7.48  8.08  8.09 10.15  8.40 10.88  6.13  7.90 11.51 12.79
[13]  7.05 11.85  9.97  7.48  8.79  9.69  9.68  7.58  9.19  8.11

In [48]:
x=list(a=1:4, b=5:9, c=c('hello', 'world'), mymatrix=matrix(1:6, 2,3))
x
# x$m[2,2]
names(x)
x[['mymatrix']][,2]
# x$a
# x[[1]]
# x[[2]]
# x[['c']]

$a
[1] 1 2 3 4

$b
[1] 5 6 7 8 9

$c
[1] "hello" "world"

$mymatrix
     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

[1] "a"        "b"        "c"        "mymatrix"

[1] 3 4

In [49]:
ls()
rm(a)
ls()

 [1] "a"       "b"       "cnames"  "mydata"  "mytable" "numbers" "rnames"
 [8] "thuesen" "whales"  "x"       "y"       "z"

 [1] "b"       "cnames"  "mydata"  "mytable" "numbers" "rnames"  "thuesen"
 [8] "whales"  "x"       "y"       "z"

In [50]:
getwd()

[1] "C:/Users/David Li/OneDrive/R/2020F"

In [142]:
file.show("table.txt")

In [143]:
file.show("table.csv")

In [53]:
read.table

function (file, header = FALSE, sep = "", quote = "\"'", dec = ".",
    numerals = c("allow.loss", "warn.loss", "no.loss"), row.names,
    col.names, as.is = !stringsAsFactors, na.strings = "NA",
    colClasses = NA, nrows = -1, skip = 0, check.names = TRUE,
    fill = !blank.lines.skip, strip.white = FALSE, blank.lines.skip = TRUE,
    comment.char = "#", allowEscapes = FALSE, flush = FALSE,
    stringsAsFactors = default.stringsAsFactors(), fileEncoding = "",
    encoding = "unknown", text, skipNul = FALSE)
{
    if (missing(file) && !missing(text)) {
        file <- textConnection(text, encoding = "UTF-8")
        encoding <- "UTF-8"
        on.exit(close(file))
    }
    if (is.character(file)) {
        file <- if (nzchar(fileEncoding))
            file(file, "rt", encoding = fileEncoding)
        else file(file, "rt")
        on.exit(close(file))
    }
    if (!inherits(file, "connection"))
        stop("'file' must be a character string or connection")
    if (!isOpen(file, "rt")) {
        open(file, "rt")
        on.exit(close(file))
    }
    pbEncoding <- if (encoding %in% c("", "bytes", "UTF-8"))
        encoding
    else "bytes"
    numerals <- match.arg(numerals)
    if (skip > 0L)
        readLines(file, skip)
    nlines <- n0lines <- if (nrows < 0L)
        5
    else min(5L, (header + nrows))
    lines <- .External(C_readtablehead, file, nlines, comment.char,
        blank.lines.skip, quote, sep, skipNul)
    if (encoding %in% c("UTF-8", "latin1"))
        Encoding(lines) <- encoding
    nlines <- length(lines)
    if (!nlines) {
        if (missing(col.names))
            stop("no lines available in input")
        rlabp <- FALSE
        cols <- length(col.names)
    }
    else {
        if (all(!nzchar(lines)))
            stop("empty beginning of file")
        if (nlines < n0lines && file == 0L) {
            pushBack(c(lines, lines, ""), file, encoding = pbEncoding)
            on.exit((clearPushBack(stdin())))
        }
        else pushBack(c(lines, lines), file, encoding = pbEncoding)
        first <- scan(file, what = "", sep = sep, quote = quote,
            nlines = 1, quiet = TRUE, skip = 0, strip.white = TRUE,
            blank.lines.skip = blank.lines.skip, comment.char = comment.char,
            allowEscapes = allowEscapes, encoding = encoding,
            skipNul = skipNul)
        col1 <- if (missing(col.names))
            length(first)
        else length(col.names)
        col <- numeric(nlines - 1L)
        if (nlines > 1L)
            for (i in seq_along(col)) col[i] <- length(scan(file,
                what = "", sep = sep, quote = quote, nlines = 1,
                quiet = TRUE, skip = 0, strip.white = strip.white,
                blank.lines.skip = blank.lines.skip, comment.char = comment.char,
                allowEscapes = allowEscapes, encoding = encoding,
                skipNul = skipNul))
        cols <- max(col1, col)
        rlabp <- (cols - col1) == 1L
        if (rlabp && missing(header))
            header <- TRUE
        if (!header)
            rlabp <- FALSE
        if (header) {
            .External(C_readtablehead, file, 1L, comment.char,
                blank.lines.skip, quote, sep, skipNul)
            if (missing(col.names))
                col.names <- first
            else if (length(first) != length(col.names))
                warning("header and 'col.names' are of different lengths")
        }
        else if (missing(col.names))
            col.names <- paste0("V", 1L:cols)
        if (length(col.names) + rlabp < cols)
            stop("more columns than column names")
        if (fill && length(col.names) > cols)
            cols <- length(col.names)
        if (!fill && cols > 0L && length(col.names) > cols)
            stop("more column names than columns")
        if (cols == 0L)
            stop("first five rows are empty: giving up")
    }
    if (check.names)
        col.names <- make.names(col.names, unique = TRUE)
    if (rlabp)
        col.names <- c("row.names", col.names)
    nmColClasses <- names(colClasses)
    if (is.null(nmColClasses)) {
        if (length(colClasses) < cols)
            colClasses <- rep_len(colClasses, cols)
    }
    else {
        tmp <- rep_len(NA_character_, cols)
        names(tmp) <- col.names
        i <- match(nmColClasses, col.names, 0L)
        if (any(i <= 0L))
            warning("not all columns named in 'colClasses' exist")
        tmp[i[i > 0L]] <- colClasses[i > 0L]
        colClasses <- tmp
    }
    what <- rep.int(list(""), cols)
    names(what) <- col.names
    colClasses[colClasses %in% c("real", "double")] <- "numeric"
    known <- colClasses %in% c("logical", "integer", "numeric",
        "complex", "character", "raw")
    what[known] <- sapply(colClasses[known], do.call, list(0))
    what[colClasses %in% "NULL"] <- list(NULL)
    keep <- !sapply(what, is.null)
    data <- scan(file = file, what = what, sep = sep, quote = quote,
        dec = dec, nmax = nrows, skip = 0, na.strings = na.strings,
        quiet = TRUE, fill = fill, strip.white = strip.white,
        blank.lines.skip = blank.lines.skip, multi.line = FALSE,
        comment.char = comment.char, allowEscapes = allowEscapes,
        flush = flush, encoding = encoding, skipNul = skipNul)
    nlines <- length(data[[which.max(keep)]])
    if (cols != length(data)) {
        warning("cols = ", cols, " != length(data) = ", length(data),
            domain = NA)
        cols <- length(data)
    }
    if (is.logical(as.is)) {
        as.is <- rep_len(as.is, cols)
    }
    else if (is.numeric(as.is)) {
        if (any(as.is < 1 | as.is > cols))
            stop("invalid numeric 'as.is' expression")
        i <- rep.int(FALSE, cols)
        i[as.is] <- TRUE
        as.is <- i
    }
    else if (is.character(as.is)) {
        i <- match(as.is, col.names, 0L)
        if (any(i <= 0L))
            warning("not all columns named in 'as.is' exist")
        i <- i[i > 0L]
        as.is <- rep.int(FALSE, cols)
        as.is[i] <- TRUE
    }
    else if (length(as.is) != cols)
        stop(gettextf("'as.is' has the wrong length %d  != cols = %d",
            length(as.is), cols), domain = NA)
    do <- keep & !known
    if (rlabp)
        do[1L] <- FALSE
    for (i in (1L:cols)[do]) {
        data[[i]] <- if (is.na(colClasses[i]))
            type.convert(data[[i]], as.is = as.is[i], dec = dec,
                numerals = numerals, na.strings = character(0L))
        else if (colClasses[i] == "factor")
            as.factor(data[[i]])
        else if (colClasses[i] == "Date")
            as.Date(data[[i]])
        else if (colClasses[i] == "POSIXct")
            as.POSIXct(data[[i]])
        else methods::as(data[[i]], colClasses[i])
    }
    compactRN <- TRUE
    if (missing(row.names)) {
        if (rlabp) {
            row.names <- data[[1L]]
            data <- data[-1L]
            keep <- keep[-1L]
            compactRN <- FALSE
        }
        else row.names <- .set_row_names(as.integer(nlines))
    }
    else if (is.null(row.names)) {
        row.names <- .set_row_names(as.integer(nlines))
    }
    else if (is.character(row.names)) {
        compactRN <- FALSE
        if (length(row.names) == 1L) {
            rowvar <- (1L:cols)[match(col.names, row.names, 0L) ==
                1L]
            row.names <- data[[rowvar]]
            data <- data[-rowvar]
            keep <- keep[-rowvar]
        }
    }
    else if (is.numeric(row.names) && length(row.names) == 1L) {
        compactRN <- FALSE
        rlabp <- row.names
        row.names <- data[[rlabp]]
        data <- data[-rlabp]
        keep <- keep[-rlabp]
    }
    else stop("invalid 'row.names' specification")
    data <- data[keep]
    if (is.object(row.names) || !(is.integer(row.names)))
        row.names <- as.character(row.names)
    if (!compactRN) {
        if (length(row.names) != nlines)
            stop("invalid 'row.names' length")
        if (anyDuplicated(row.names))
            stop("duplicate 'row.names' are not allowed")
        if (anyNA(row.names))
            stop("missing values in 'row.names' are not allowed")
    }
    class(data) <- "data.frame"
    attr(data, "row.names") <- row.names
    data
}
<bytecode: 0x000000001ec50640>
<environment: namespace:utils>

In [54]:
mytable=read.table(file="table.txt", header=TRUE, sep=" ");mytable
class(mytable)
sapply(mytable, class) #get data type for each column

  texas florida
1  74    89
2 122   234

[1] "data.frame"

    texas   florida
"integer" "integer"

In [55]:
mytable
write.table(mytable, file="mytable.txt")

  texas florida
1  74    89
2 122   234

In [56]:
?write.table

In [113]:
file.show("mytable.txt")

In [58]:
# write.csv(mytable, file="mytable.csv")
write.csv(mytable, file="mytable.csv", row.names=FALSE) #do not include row numbers

In [112]:
file.show("mytable.csv")

In [60]:
mytable=read.csv(file="mytable.csv", header=TRUE);mytable
names(mytable)

  texas florida
1  74    89
2 122   234

[1] "texas"   "florida"

In [61]:
mytable=read.csv(file="table.csv", header=TRUE);mytable
names(mytable)

  texas florida
1  74    89
2 122   234

[1] "texas"   "florida"

In [62]:
mytable=read.csv(file="table.txt", header=TRUE);mytable
names(mytable)

  texas.florida
1 74 89
2 122 234

[1] "texas.florida"

In [63]:
lines=readLines("table.csv")
lines
lines=readLines("table.txt")
lines
lines[1]
lines[2]
lines[3]

[1] "texas,florida" "74,89"         "122,234"

[1] "texas florida" "74 89"         "122 234"

[1] "texas florida"

[1] "74 89"

[1] "122 234"

In [64]:
?writeLines

In [65]:
fileConn<-file("output.txt")
writeLines(c("Hello","World"), fileConn)
close(fileConn)

In [66]:
x=data.frame(a=1, b=2); x
dput(x)

  a b
1 1 2

structure(list(a = 1, b = 2), class = "data.frame", row.names = c(NA,
-1L))

In [67]:
str(x)

'data.frame':	1 obs. of  2 variables:
 $ a: num 1
 $ b: num 2

In [68]:
summary(x)

       a           b
 Min.   :1   Min.   :2
 1st Qu.:1   1st Qu.:2
 Median :1   Median :2
 Mean   :1   Mean   :2
 3rd Qu.:1   3rd Qu.:2
 Max.   :1   Max.   :2

In [69]:
dput(x, file="x.R")

In [144]:
file.show("x.R")

In [71]:
dget("x.R")
structure(list(a = 1, b = 2), class = "data.frame", row.names = c(NA, 
-1L))
data.frame(a=1, b=2)

  a b
1 1 2

  a b
1 1 2

  a b
1 1 2

In [72]:
y=dget("x.R") # you can think dget inserts the content here.
y

  a b
1 1 2

In [73]:
y=structure(list(a = 1, b = 2), class = "data.frame", row.names = c(NA, 
-1L))
y

  a b
1 1 2

In [74]:
print("====================")
x=8
y=9
# dump(c('x', 'y'))  # by default it dumps to file "dumpdata.R"
dump(c('x', 'y'), file='xy.R')

[1] "===================="

In [114]:
file.show("xy.R")

In [76]:
ls()
rm(x, y)
ls()

 [1] "b"        "cnames"   "fileConn" "lines"    "mydata"   "mytable"
 [7] "numbers"  "rnames"   "thuesen"  "whales"   "x"        "y"
[13] "z"

 [1] "b"        "cnames"   "fileConn" "lines"    "mydata"   "mytable"
 [7] "numbers"  "rnames"   "thuesen"  "whales"   "z"

In [77]:
source("xy.R") # source both inserts and executes the content here
x

[1] 8

In [78]:
x <- serialize(list(1,2,3), NULL)
print(x)
y=unserialize(x)
y

 [1] 58 0a 00 00 00 03 00 03 06 02 00 03 05 00 00 00 00 06 43 50 31 32 35 32 00
[26] 00 00 13 00 00 00 03 00 00 00 0e 00 00 00 01 3f f0 00 00 00 00 00 00 00 00
[51] 00 0e 00 00 00 01 40 00 00 00 00 00 00 00 00 00 00 0e 00 00 00 01 40 08 00
[76] 00 00 00 00 00

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

In [79]:
a=data.frame(x = rnorm(100), y = runif(100)); head(a)
b=c(3, 4.4, 1 / 3); b

  x          y
1 -1.2216867 0.5540792
2 -0.1834871 0.4929764
3  0.8306771 0.5376134
4 -0.2253249 0.1224959
5 -0.2381958 0.3241803
6  0.5878486 0.3376635

[1] 3.0000000 4.4000000 0.3333333

In [80]:
save(a, b, file = "mydata.rda")

In [81]:
rm(a, b)
ls()

 [1] "cnames"   "fileConn" "lines"    "mydata"   "mytable"  "numbers"
 [7] "rnames"   "thuesen"  "whales"   "x"        "y"        "z"

In [82]:
load("mydata.rda")

In [83]:
ls()
head(a)
b

 [1] "a"        "b"        "cnames"   "fileConn" "lines"    "mydata"
 [7] "mytable"  "numbers"  "rnames"   "thuesen"  "whales"   "x"
[13] "y"        "z"

  x          y
1 -1.2216867 0.5540792
2 -0.1834871 0.4929764
3  0.8306771 0.5376134
4 -0.2253249 0.1224959
5 -0.2381958 0.3241803
6  0.5878486 0.3376635

[1] 3.0000000 4.4000000 0.3333333

In [84]:
save.image(file="alldata.RData") #then this file can be opened in another R session or even on different computer.

In [116]:
mult <- function(x, y) {
    x*y
}

In [86]:
mult(9, 9)

[1] 81

In [87]:
dput(mult, file="mymult.R")

In [88]:
file.show("mymult.R")

In [117]:
dump(c('mult'), file="myfun.R")

In [118]:
file.show("myfun.R")

In [91]:
# calling the functions
# this is the file where we will call the functions in myfun.R and mymult.R
times <- dget("mymult.R")
times(-4:4, 2)

source("myfun.R")
mult(-4:4, 2)

[1] -8 -6 -4 -2  0  2  4  6  8

[1] -8 -6 -4 -2  0  2  4  6  8

In [92]:
x=5

if (x>9) 
{
    print(2)
} else
{
    print(4)
}

[1] 4

In [93]:
x=8

if(x<5){
    print(1)
} else if (x<10)  #the conditions are better to be exclusive from each other
# } else if (5<=x & x<10) 
        {
        print(2)
        }else{ # x>=10
           print(3)
        }

[1] 2

In [94]:
x=runif(1, 0, 10);x
if (x>3) print(10) else print(0)

[1] 8.017862

[1] 10

In [95]:
?runif

In [96]:
x=runif(1, 0, 10)
if (x>3) 10 else 0

[1] 10

In [97]:
x=runif(1, 0, 10)
y=if (x>3) 10 else 0
print(y)
# x=runif(1, 0, 10)
print(ifelse(x>3, 10, 0))

[1] 0
[1] 0

In [98]:
ifelse #it creates both vectors, the yes and the no, and then subsets.

function (test, yes, no)
{
    if (is.atomic(test)) {
        if (typeof(test) != "logical")
            storage.mode(test) <- "logical"
        if (length(test) == 1 && is.null(attributes(test))) {
            if (is.na(test))
                return(NA)
            else if (test) {
                if (length(yes) == 1) {
                  yat <- attributes(yes)
                  if (is.null(yat) || (is.function(yes) && identical(names(yat),
                    "srcref")))
                    return(yes)
                }
            }
            else if (length(no) == 1) {
                nat <- attributes(no)
                if (is.null(nat) || (is.function(no) && identical(names(nat),
                  "srcref")))
                  return(no)
            }
        }
    }
    else test <- if (isS4(test))
        methods::as(test, "logical")
    else as.logical(test)
    ans <- test
    len <- length(ans)
    ypos <- which(test)
    npos <- which(!test)
    if (length(ypos) > 0L)
        ans[ypos] <- rep(yes, length.out = len)[ypos]
    if (length(npos) > 0L)
        ans[npos] <- rep(no, length.out = len)[npos]
    ans
}
<bytecode: 0x00000000128e3a10>
<environment: namespace:base>

In [99]:
rep(c(1,2,3), length.out =5)
# ?rep

[1] 1 2 3 1 2

In [124]:
x=6:-4
sqrt(x)

Warning message in sqrt(x):
"NaNs produced"

 [1] 2.449490 2.236068 2.000000 1.732051 1.414214 1.000000 0.000000      NaN
 [9]      NaN      NaN      NaN

In [125]:
y=ifelse(x>=0, x, 0);y
sqrt(y)

 [1] 6 5 4 3 2 1 0 0 0 0 0

 [1] 2.449490 2.236068 2.000000 1.732051 1.414214 1.000000 0.000000 0.000000
 [9] 0.000000 0.000000 0.000000

In [126]:
ifelse(x>=0, sqrt(x), 0)

Warning message in sqrt(x):
"NaNs produced"

 [1] 2.449490 2.236068 2.000000 1.732051 1.414214 1.000000 0.000000 0.000000
 [9] 0.000000 0.000000 0.000000

In [127]:
ifelse(x>=0, {print(x);sqrt(x)}, {print("negative");0}) #recycling happens within ifelse function as seen above

 [1]  6  5  4  3  2  1  0 -1 -2 -3 -4

Warning message in sqrt(x):
"NaNs produced"

[1] "negative"

 [1] 2.449490 2.236068 2.000000 1.732051 1.414214 1.000000 0.000000 0.000000
 [9] 0.000000 0.000000 0.000000

In [102]:
x=c(1,2,3)
typeof(x)  #R internal type or storage mode
class(x)   #object's class attribute, if not, it use the result of typeof
# ?typeof
# ?class
y=data.frame(x=1:2, y=3:4)
typeof(y)
class(y)

[1] "double"

[1] "numeric"

[1] "list"

[1] "data.frame"

In [103]:
yes <- 1:3
no <- pi^(0:3)
typeof(ifelse(NA,    yes, no)) # logical
typeof(ifelse(TRUE,  yes, no)) # integer
typeof(ifelse(FALSE, yes, no)) # double

[1] "logical"

[1] "integer"

[1] "double"

In [104]:
for(i in 1:10) print(i)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [105]:
x=c('a', 'b', 'c')
for (i in x) print(i)
for (i in 1:length(x)) print(x[i])

[1] "a"
[1] "b"
[1] "c"
[1] "a"
[1] "b"
[1] "c"

In [106]:
x=c('a', 'b', 'c')
# x=c()
1:length(x)
for (i in 1:length(x)) print(i)
"=================="
seq_along(x) #generate the index vector safely
for (i in seq_along(x)) print(i)

[1] 1 2 3

[1] 1
[1] 2
[1] 3

[1] "=================="

[1] 1 2 3

[1] 1
[1] 2
[1] 3

In [107]:
?seq_along

In [108]:
for (i in seq_along(x)) print(i);print(i*2)
"===================="
for (i in seq_along(x)) {print(i);print(i*2)}

[1] 1
[1] 2
[1] 3
[1] 6

[1] "===================="

[1] 1
[1] 2
[1] 2
[1] 4
[1] 3
[1] 6

In [109]:
x=matrix(1:6, 2, 3)
print(x)

nrow(x)
ncol(x)
seq_len(nrow(x))
seq_len(ncol(x))
seq_len(10)
seq_len(0)
seq_along(10)
seq_along(1:10)

for(i in seq_len(nrow(x))) {
    for (j in seq_len(ncol(x))) {
        print(paste("i=", i, "j=", j, "x=", x[i, j], sep=" "))
#         print(x[i,j])
        }
}

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

[1] 2

[1] 3

[1] 1 2

[1] 1 2 3

 [1]  1  2  3  4  5  6  7  8  9 10

integer(0)

[1] 1

 [1]  1  2  3  4  5  6  7  8  9 10

[1] "i= 1 j= 1 x= 1"
[1] "i= 1 j= 2 x= 3"
[1] "i= 1 j= 3 x= 5"
[1] "i= 2 j= 1 x= 2"
[1] "i= 2 j= 2 x= 4"
[1] "i= 2 j= 3 x= 6"

In [110]:
x <- 1
repeat {
    print(x)
    x = x+1
    if (x == 6) break
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [112]:
x=data.frame(1:3, 10001:10003, c("a", "b", "c","a", "b", "c","a", "b", "c","a", "b", "c","a", "b", "c"))
x$c..a....b....c....a....b....c....a....b....c....a....b..
# y=list(a=1:3, b=4:6, c=4:6)
# # x$a
# # y$a
# x[2]
# x$2

 [1] a b c a b c a b c a b c a b c
Levels: a b c

In [30]:
mydf=data.frame(a=1:3, "b a "=4:6)
mydf

  a b.a.
1 1 4
2 2 5
3 3 6

In [40]:
mydf$b.

[1] 4 5 6

In [54]:
typeof(1:4)

[1] "integer"

In [60]:
matrix(1:5, 2, 3)

# 1 3 1
# 2 4 2

Warning message in matrix(1:5, 2, 3):
"data length [5] is not a sub-multiple or multiple of the number of rows [2]"

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    1

In [63]:
matrix(1:5, nrow=3)
# 1 3 5
# 2 4 1

Warning message in matrix(1:5, nrow = 3):
"data length [5] is not a sub-multiple or multiple of the number of rows [3]"

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    1