In [1]:
# Robert Bonagura
# CS 636
# HW2

In [3]:
# Problem 1

F = function(x){
    if (x < 1) {
        denom = (x - 1)**2
        answer = 5 / denom
        print(answer)
    } else if(x == 1) {
        print(2)    
    } else {
        denom = (x - 1)**3
        answer = 5 / denom
        print(answer)
    }
}

# Testing commands
F(1)
F(10)
F(0.3)

[1] 2
[1] 0.006858711
[1] 10.20408

In [42]:
# Problem 2

# 1 - Using loop

Fib = function(n){
    if (n == 1 | n == 2){
        return(1)
    }
    prev = c(1, 1)
    for (i in 3:n){
        if (i == n){
            return(sum(prev))
        }
        new = sum(prev)
        prev[1] = prev[2]
        prev[2] = new
    }
}

Fib(25)
Fib(100)

[1] 75025

[1] 3.542248e+20

In [15]:
# Problem 2

# 2 - Using recursion with memoization

Fib = function(n){
    if (n == 1 | n == 2){
        return(1)
    } else {
        sum(Fib(n-1), Fib(n-2))
    }
}
Fib(25)

# This implementation is slow for values above 30.
# Initially I thought it was crashing my notebook, but then I realized it just takes a very long time to compute larger values.
# I tried to implement a solution using memoization, but could not do so without adding additional R packages since R passes function arguments by value and not reference.

[1] 75025

In [21]:
# Problem 3
zz=matrix(c(c(1,2,NA), c(3,4,5) , 6:9), nrow = 2, ncol = 5, byrow = TRUE)
zz

mySum = function(x){
    answer = 0
    for (i in x){
        if (!is.na(i)){
            answer = answer + i
        }
    }
    answer
}

myMean = function(x){
    total = 0
    n = 0
    for (i in x){
        if (!is.na(i)){
            total = total + i
            n = n + 1
        }
    }
    answer = total / n
    return(answer)
}

apply(zz, 1, mySum)

apply(zz, 2, myMean)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    NA   3    4
[2,] 5    6     7   8    9

[1] 10 35

[1] 3.0 4.0 7.0 5.5 6.5

In [41]:
# Problem 4

df <- data.frame(name=c("Kay","  Dave","  Jon  ","  Jenny","  Jim  ","Eve","Ed "),   salary=c(60000,  100000, 50000,  80000,  30000,  40000,  20000),  gender=factor(c("F","M","M","F","M","F","M")))
df

max_salarys = tapply(df$salary, df$gender, max)
max_salarys

  name    salary gender
1 Kay     6e+04  F
2   Dave  1e+05  M
3   Jon   5e+04  M
4   Jenny 8e+04  F
5   Jim   3e+04  M
6 Eve     4e+04  F
7 Ed      2e+04  M

    F     M
8e+04 1e+05