In [1]:
# Robert Bonagura

In [77]:

library(dplyr)

# Load initial data
IBM = read.csv("data/IBM.csv")
AAPL = read.csv("data/AAPL.csv")
AMZN = read.csv("data/AMZN.csv")
FB = read.csv("data/FB.csv")
GOOG = read.csv("data/GOOG.csv")
MSFT = read.csv("data/MSFT.csv")
NFLX = read.csv("data/NFLX.csv")
TSLA = read.csv("data/TSLA.csv")
ORCL = read.csv("data/ORCL.csv")
SAP = read.csv("data/SAP.csv")


# Prepare single dataframe consisting of each stock's Close and Adj.Close values
IBM = rename(select(IBM, Date, Close, Adj.Close), IBM_close = Close, IBM_adj.close = Adj.Close)
AAPL = rename(select(AAPL, Date, Close, Adj.Close), AAPL_close = Close, AAPL_adj.close = Adj.Close)
AMZN = rename(select(AMZN, Date, Close, Adj.Close), AMZN_close = Close, AMZN_adj.close = Adj.Close)
FB = rename(select(FB, Date, Close, Adj.Close), FB_close = Close, FB_adj.close = Adj.Close)
GOOG = rename(select(GOOG, Date, Close, Adj.Close), GOOG_close = Close, GOOG_adj.close = Adj.Close)
MSFT = rename(select(MSFT, Date, Close, Adj.Close), MSFT_close = Close, MSFT_adj.close = Adj.Close)
NFLX = rename(select(NFLX, Date, Close, Adj.Close), NFLX_close = Close, NFLX_adj.close = Adj.Close)
TSLA = rename(select(TSLA, Date, Close, Adj.Close), TSLA_close = Close, TSLA_adj.close = Adj.Close)
ORCL = rename(select(ORCL, Date, Close, Adj.Close), ORCL_close = Close, ORCL_adj.close = Adj.Close)
SAP = rename(select(SAP, Date, Close, Adj.Close), SAP_close = Close, SAP_adj.close = Adj.Close)

df = inner_join(IBM, AAPL, by="Date")
df = inner_join(df, AMZN, by="Date")
df = inner_join(df, FB, by="Date")
df = inner_join(df, GOOG, by="Date")
df = inner_join(df, MSFT, by="Date")
df = inner_join(df, NFLX, by="Date")
df = inner_join(df, TSLA, by="Date")
df = inner_join(df, ORCL, by="Date")
df = inner_join(df, SAP, by="Date")

#1 

head(IBM)

max_num_shares = function(date, closeCol, budget){
    cost = df[df$Date == date, closeCol]
    numShare = floor(budget / cost)
    amtHolding = cost * numShare
    amtLeft = budget - amtHolding
    c("cost"=cost, "numShare"=numShare, "amtHolding"=amtHolding, "amtLeft"=amtLeft)
}

v = max_num_shares("2018-01-02", "IBM_close", 1000000)
v

  Date       IBM_close IBM_adj.close
1 2018-01-02 154.25    142.4840
2 2018-01-03 158.49    146.4006
3 2018-01-04 161.70    149.3657
4 2018-01-05 162.49    150.0954
5 2018-01-08 163.47    151.0007
6 2018-01-09 163.83    151.3332

      cost   numShare amtHolding    amtLeft
    154.25    6482.00  999848.50     151.50