In [2]:
# Robert Bonagura

library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──
✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
?str_c()

In [4]:
?dim()

In [5]:
?data.frame()

In [6]:
c(5,6,3,2,2,4,1), c(2,4,3,2,5,6,3),c(7,1,5,2,2,6,3),c(6,2,3,2,5,1,5),c(2,4,1,5,2,6,3),c(2,2,4,2,2,2,2)

c('dice1','dice2','dice3','dice4','dice5','dice6','dice7'))

c('1','2','3','4','5','6')

ERROR: Error in parse(text = x, srcfile = src): <text>:1:17: unexpected ','
1: c(5,6,3,2,2,4,1),
                    ^

In [36]:
dice = data.frame(c(5,6,3,2,2,4,1),
                c(2,4,3,2,5,6,3),
                c(7,1,5,2,2,6,3),
                c(6,2,3,2,5,1,5),
                c(2,4,1,5,2,6,3),
                c(2,2,4,2,2,2,2))

cols = c('1','2','3','4','5','6')
rows = c('dice1','dice2','dice3','dice4','dice5','dice6','dice7')

colnames(dice) = cols
rownames(dice) = rows

dice

      1 2 3 4 5 6
dice1 5 2 7 6 2 2
dice2 6 4 1 2 4 2
dice3 3 3 5 3 1 4
dice4 2 2 2 2 5 2
dice5 2 5 2 5 2 2
dice6 4 6 6 1 6 2
dice7 1 3 3 5 3 2

In [26]:
# select cols 1,3 5 and dice3&4
df = filter(select(dice, 1, 3, 5), row.names(dice) %in% c("dice3", "dice4"))
df

      1 3 5
dice3 3 5 1
dice4 2 2 5

In [37]:
dice["total"] = apply(dice, 1, sum)

In [38]:
dice

      1 2 3 4 5 6 total
dice1 5 2 7 6 2 2 24
dice2 6 4 1 2 4 2 19
dice3 3 3 5 3 1 4 19
dice4 2 2 2 2 5 2 15
dice5 2 5 2 5 2 2 18
dice6 4 6 6 1 6 2 25
dice7 1 3 3 5 3 2 17